* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* make it responsive */
    width: 70%;
    max-width: 1100px;
    margin: 2rem auto;
    background-color: rgb(14, 66, 66);
    font-family:monospace, 'Courier New', Courier;
    line-height: 1.3;

}

#main{
    background-color: #fff;
}
img {
    width:100%;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 3.2rem;
    padding-top: 15px;
    color: rgb(14, 66, 66);
}
h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    margin-top: 0.5rem;
    color: rgb(14, 66, 66);
    padding-left: 5px;
    padding-right: 5px;
}



/* Container */
.container {
    display: flex;
    margin: 2rem auto;
}

.card {
    position: relative;
    background: grey;
    margin: 0.5rem;
}
.card__img {
    display: block;
    transition: opacity ease-out 400ms;
}

/* Put text in center of img */
.card__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    text-transform: capitalize;
    transition: opacity ease-out 400ms;
    font-size: 1.4rem;
}

/* ON HOVER for image and tetx */
.card:hover .card__img {
    opacity: 0.3;
}

.card:hover .card__text {
    opacity: 1;
}

/* Border for text on hover */
.card::before {
    content: "";
    position: absolute;
    border-top: solid white 3px;
    border-bottom: solid white 3px;
    top: 2em;
    bottom: 2em;
    left: 2em;
    right: 2em;
    transform: scale(0, 1);
    transition: transform ease-out 400ms ;
}

.card:hover::before {
    transform: scale(1, 1);
}

/* Details section */

.about {
    justify-content: center;
    margin: .5rem;
    padding-bottom: 0.5rem;
}

details {
    border: solid 2px rgb(14, 66, 66);
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgba(172, 165, 165, 0.658);
}

.about__summary {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight:700;
}

.about__text {
    font-size: 1.25rem;
    padding: 5px;
}
.about__list {
    list-style-type:square;
    font-size: 1.2rem;
    /* padding-left: 1rem;
    padding-bottom: 1rem; */
    padding: 0.5rem 0rem 0.5rem 1.5rem;
}

li {
    padding-bottom: 0.3rem;
}

/* Footer */
footer {
    color: #fff;
    margin: 1rem auto;
}

footer a {
    color: aquamarine;
    text-decoration: none;
}
                                    /* MEDIA QUERIES */
/* Media querie under 800px */
@media (max-width: 800px) {

    body {
        width: 95%;
        margin: 1rem auto;
    }
    .container {
        display: grid;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }
    .about__summary {
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight:700;
    }
    
    .about__text {
        font-size: 1.25rem;
        padding: 5px;
    }

    .about__list {
        list-style-type:square;
        font-size: 1.2rem;
    }


}

@media (max-width: 500px) {
    

    body {
        width: 95%;
        margin: 1rem auto;
    }
    h1 {
        line-height: 1.1;
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.1;
    }

    .card__text {
        font-size: 1rem;
    }

    .about__summary {
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight:700;
    }
    
    .about__text {
        font-size: 1rem;
        padding: 5px;
    }

    li {
        font-size: 1rem;
    }
}